
body {
  background-color: rgb(204, 235, 224);
  font-family: serif;
  width: 45rem;
  height: 45rem;
  text-align: left;
  position: relative;
  margin: 100px;
  border: black dashed;
  border-width: 2rem;
  border-radius: 15rem;
  margin: 5rem auto;
  width: 50rem;
  height: 90rem;
  padding: 5rem;
  
}

h1 {
  font-family: cursive;
  font-size: 3rem;
  text-align: center;
  color: rgba(12, 19, 82, 0.8); hsla(250,100%,0%,0.8);
  background-color: rgb(244,246,247);
  border: 10px double rgb(17, 14, 20);
  padding: 2rem;
  margin: 1em 1rem 1em 1rem;
  border-radius: 1em;
  width: 50rem;
  height: 5%;
  left: 0.5em;
  position: absolute;
}
/*.images {
  float: left;
  margin: 0rem auto;
  padding: 0.5rem auto;
  align-self: center;
  top: -300rem;
  position:absolute;*/
}

div>image {
  float:right;
  margin:1em auto;
  padding: 2em;
}

p {
  text-align: left;
  padding: 6em;
  margin: 1em 1em 1em 1em;
  font-size: 1em;
}

h3 {
  font-family: cursive;
  font-size: 2rem;
  text-align: left;
  padding: 3rem;
  margin: 2rem;
  width: 60%;
  border: 10px double rgb(17, 14, 20);
  padding: 1rem;
  margin: 0.5em 0.5rem 0.5em 0.5rem;
  border-radius: 1em;
  background-color: rgb(244,246,247);

}

div {
  font-family: monospace;
  font-size: 1.5rem;
  width: 40%;
  margin: 3rem 0rem 3rem 0rem;
  padding: 0.2em;
  text-align: left;
  float: right;
  margin-left: 3em;
}

div>figcaption {
  color: red;
  font-size: 75%;
  font-style: cursive;
}
ul {
  list-style-type: circle;
}
ol {
  list-style-position: outside;

}
