/* This is to define the boudaries of the contents in this page */
body {
  background-color: rgb(204, 235, 224);
  font-family: serif;
  text-align: left;
  position: relative;
  margin: 100px;
  border: black dashed;
  border-width: 2rem;
  border-radius: 15rem;
  margin: 5rem auto;
  width: 50rem;
  height: 90rem;
  padding: 5rem;
  
}

/* This is styling of the main header for this page */
h1 {
  font-family: cursive;
  font-size: 3rem;
  text-align: center;
  text-shadow: -1px -1px whitesmoke;
  color: rgba(12, 19, 82, 0.8); hsla(250,100%,0%,0.8);
  background-color: rgb(255, 187, 155,0.8);
  border: 10px double rgb(17, 14, 20);
  padding: 2rem;
  margin: 1em 1rem 1em 1rem;
  border-radius: 1em;
  width: 50rem;
  height: 5%;
  left: 0.5em;
  position: absolute;
}

/* This is the description for the text with my introduction */

.intro {
  text-align: left;
  padding: 3em;
  margin: 15em 1em 1em 1em;
  font-size: 1em;
}

p:first-letter {
  font-size: 300%;
}

/* This is just to align the image and fig caption into the body in relation to the body content */

.images {
  float:right;
  margin: 0em 0em 0em;
  padding:2em;
  float:right;
}

figcaption {
  color: darkgoldenrod;
  font-size: 75%;
  text-shadow: -2px -2px blanchedalmond;
  float: right;
  margin: 32em 0em 0em 40em;
  position: absolute;
}

/* description of the different lists and aligning them into columns as well as provinding some style to the heading and contents */

h3 {
  font-family: cursive;
  font-size: 2rem;
  text-align: left;
  color: rgba(12, 19, 82, 1); hsla(250,100%,0%,0.8);
  text-shadow: 2px 2px 4px whitesmoke;
  padding: 3rem;
  margin: 2rem;
  width: 60%;
  padding: 1rem;
  margin: 0.5em 0.5rem 0.5em 0.5rem;
  border-radius: 1em;
  background-color: rgb(255, 187, 155,0.8);
}

div {
  font-family: monospace;
  font-size: 1.5rem;
  width: 40%;
  margin: 0rem 0rem 3rem 0rem;
  padding: 0.2em;
  text-align: left;
  float: right;
  margin-left: 3em;
}

/* List styles */
ul {
  list-style-type: circle;
}
ol {
  list-style-position: outside;
}
